extends ../layouts/default

block content
	.container-fluid: .row
		.col-sm-12.col-md-12.post-backdrop
			if data.post.image.exists
				img(src=data.post._.image.fit(1000, 400)).post-background.cover.filter
			.post-headline.no-filter
				h1.post-title.headlines= data.post.title

		.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.post-main
			article
				p: a(href='/blog') &larr; tillbaka till bloggen
				hr
				header
					h5 Skrivet
						if data.post.author
							|  av #{data.post.author.name.full}
						if data.post.publishedDate
							|,  #{data.post._.publishedDate.format('YYYY-MM-DD')}
				.post-content
					strong!= data.post.content.brief
					p!= data.post.content.extended

				.post-bottom-section
					if data.post.categories && data.post.categories.length
						|&nbsp;
						each cat, cat_i in data.post.categories
							a(href='/blog/' + cat.key)= cat.name
							if cat_i < data.post.categories.length - 1
								| ,&nbsp;
							else
								|&nbsp;
