extends ../layouts/default

mixin project(project)
	.projects.col-sm-4.col-md-2(data-ks-editable=editable(user, { list: 'Project', id: project.id }))
		h3.projects-header.headlines: a(href='/projects/project/' + project.slug)= project.title
		if project.image.exists
			img(src=project._.image.fit(160,160)).img.pull-right
		if project.purpose
			b Syfte:
			!= project.purpose
		if project.goal
			b Mål:
			!= project.goal

block intro
	.container
		.row
			.col-sm-10.col-md-10
				h1 /PROJEKT
			.col-sm-2.col-md-2.category-dropdown
				if data.categories.length
					.dropdown
						button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
							| Kategorier&nbsp;
							span.caret
						ul.dropdown-menu(aria-labelledby='dropdownMenu1')
							li
								a(href='/projects', class=!data.category ? 'active' : false) Alla projekt
							each cat in data.categories
								li
									a(href='/projects/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).active= cat.name


block content
	.container-fluid: .row
		.col-sm-9.col-md-12.try-projects
			if filters.category && !data.category
				h3.text-muted Felaktig kategori.
			else
				if data.projects.results.length
					if data.projects.totalPages > 1
						h4.text-weight-normal Visar
							strong #{data.projects.first}
							|  till
							strong #{data.projects.last}
							|  av
							strong #{data.projects.total}
							|  projekt.

					.all-projects
						each project in data.projects.results
							+project(project)

					if data.projects.totalPages > 1
						ul.pagination
							if data.projects.previous
								li: a(href='?page=' + data.projects.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.projects.pages
								li(class=data.projects.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.projects.totalPages : 1) : p ))= p
							if data.projects.next
								li: a(href='?page=' + data.projects.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.projects.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted Det finns inga projekt i kategorin #{data.category.name}.
					else
						h3.text-muted Det finns inga projekt ännu.
