extends ../layouts/default

block content
	.container
		.row
			.col-sm-6
				article
					p: a(href='/projects') &larr; tillbaka till projekten
					hr
					if !data.project
						h2 Nothing to see here!
					else
						header
							h1.headlines= data.project.title
							h5 Publicerad
								if data.project.publishedDate
									|  #{data.project._.publishedDate.format('YYYY-MM-DD')}
								if data.project.categories && data.project.categories.length
									|  i
									each cat, cat_i in data.project.categories
										a(href='/projects/' + cat.key)= cat.name
										if cat_i < data.project.categories.length - 1
											| ,
										else
											|
								if data.project.author
									|  av #{data.project.author.name.first}

						.project
							if data.project.image.exists
								.image-wrap: img(src=data.project._.image.fit(150,150)).img-responsive
							!= data.project.content.full
			.col-sm-5
				a(class='btn btn-success btn-block' href='/contact') anmäl till projektet
