mixin join-modal
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal')
		| JOINA!
	if enquirySubmitted
		h2 Tack!
	else
		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') x
					.modal-body
						|
						form(method='post')
							input(type='hidden', name='action', value='contact')
							.form-group(class=validationErrors.name ? 'has-error' : null)
								label Namn
								input(type='text', name='name.full', value=formData['name.full']).form-control
							.form-group(class=validationErrors.email ? 'has-error' : null)
								label E-post
								input(type='email', name='email', value=formData.email).form-control
							.form-group
								label Telefonnummer
								input(type='text', name='phone', value=formData.phone, placeholder='(valfritt)').form-control
							.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
								label Vad kontaktar du oss för?
								select(name='enquiryType').form-control
									option(value='') Välj
									each type in enquiryTypes
										option(value=type.value, selected=formData.enquiryType == type.value)= type.label
							.form-group(class=validationErrors.message ? 'has-error' : null)
								label Meddelande
								textarea(name='message', placeholder='Lämna oss ett meddelande...' rows=4).form-control= formData.message
							.form-actions
								button(type='submit').btn.btn-primary Skicka
